<% layout('layouts/boilerplate') %> <%= success %>

<style>
  #filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #333;
    opacity: 0.8;
  }
  .filter:hover {
    opacity: 1;
    color: #ff6347; /* Tomato color */
  }

  .filter div {
    font-size: 2rem;
    color: #ff6347; /* Tomato color */
  }

  .filter p {
    margin-top: 5px;
    font-weight: bold;
  }

  .listing-card {
    margin-bottom: 20px;
  }
  .tax-info {
    display: none;
  }

  .tax-toggle{
    border: 1px solid black;
    border: 1rem ;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 5rem;
  }
</style>

<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire-flame-curved"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>

   <div class="filter">
    <div><i class="fa-solid fa-bell"></i></div>
    <p>Services</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>City</p>
  </div> <div class="filter">
    <div><i class="fa-solid fa-water-ladder"></i></div>
    <p>Pools</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Campings</p>
  </div> <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>mountain</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>farms</p>
  </div>

  <div class="tax-toggle">
     <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display Total After taxes</label>
</div>
  </div>
</div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
        <div class="card col listing-card" style="width: 20rem;">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br>
              <% if (listing.price !== undefined && listing.price !== null) { %>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <br>
                <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
              <% } else { %>
                Price not available<br>
              <% } %>
              <br>
            </p>
          </div>
        </div>
      </a>
    <% } %>
  </div>

 <script>
  document.addEventListener("DOMContentLoaded", () => {
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo=document.getElementsByClassName("tax-info");
      for(info of taxInfo){
        if(info.style.display != "inline"){
          info.style.display = "inline";
          info.style.color = "#ff6347"; // Tomato color
        } else {
          info.style.display = "none";
        }
      }
    });
  });
</script>

